@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Nanum+Myeongjo:wght@400;700;800&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

::selection {
    background-color: #dae4e7;
    color: #3e5463;
}

.font-nanum {
    font-family: "Nanum Myeongjo", serif;
}

.font-barlow {
    font-family: "Barlow Semi Condensed", sans-serif;
}

.font-playfair {
    font-family: "Playfair Display", serif;
}

.contact-height {
    max-height: calc(100vh - 150px);
}

.heading-hi {
    font-size: 20rem;
    font-family: "Playfair Display", serif;
    color: white;
    opacity: 0.45;
    position: absolute;
    font-weight: 700;
    top: calc(50% - 182px - 70px);
    left: calc(50% - 182px);
    line-height: 1;
}

.heading-name {
    font-size: 3.75rem;
    font-family: "Nanum Myeongjo", serif;
    color: #3e5463;
    position: absolute;
    top: calc(50% - 25px);
    line-height: 1;
    text-align: center;
    width: 100%;
}

.btn {
    color: white;
    padding: 0.5rem 1.5rem;
    font-family: "Nanum Myeongjo", sans-serif;
}

.image-div {
    background-image: url("https://unsplash.com/photos/bpxs4G38W8U");
    background-position: center;
    background-size: cover;
    width: 50%;
}

.hash-span {
    margin-top: -2rem;
    padding-bottom: 2rem;
    display: block;
}
